@import 'stylenew.css';
@import 'header.css';
@import "breadcrumb.css";
@import 'footer.css';

.fa-th-list-hotel {
  content: url(../images/layoutoption1_gray_icon.html);
  width: 30px;
  height: 30px;
  margin-right: 5px
}

.fa-th-list-hotel:hover {
  content: url(../images/layoutoption1_black_icon.html)
}

.fa-bars-hotel {
  content: url(../images/layoutoption2_black_icon.html);
  width: 30px;
  height: 30px
}

.fa-2x {
  padding: 0 !important
}

.padding-top-3 {
  padding-top: 3% !important
}

.money-format:before {
  content: '$'
}

.money-format:after {
  content: ' USD'
}

ul.rate-types-list li {
  width: 100%
}

body {
  background-color: #f0ede6
}

body {
  height: 100%
}

a {
  text-decoration: none !important;
  color: #2f2f2f !important
}

#content {
  padding-bottom: 0
}

.loader-font {
  font-size: 25px !important;
  line-height: 25px;
  font-family: FiraSans-Light !important;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px
}

.inner.full-page {
  background: #fff !important
}

#next-step-summ,
.compare-btn2 {
  background: #8dd4cc;
  font-family: FiraSans-Medium !important;
  font-size: 16.6px !important;
  border-radius: 2px !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  padding: 6px !important;
  margin-top: 5px
}

.select-room-btn2 {
  font-weight: 400 !important;
  font-family: FiraSans-Medium !important;
  font-size: 16.6px !important;
  border-radius: 2px !important;
  text-transform: uppercase !important;
  padding: 6px !important
}

.select-room-btn {
  background: #eac455 !important;
  color: #000 !important;
  font-weight: 400 !important;
  font-family: FiraSans-Medium !important;
  font-size: 16.6px !important;
  border-radius: 2px !important;
  text-transform: uppercase !important;
  padding: 6px !important;
  margin-top: 5px;
  margin-left: 5px
}

#next-step {
  margin-right: 2.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase
}

#next-step.enabled {
  background: #f3dfa4 !important;
  width: auto;
  color: #2f2f2f !important;
  font: 15.16px firasans-medium
}

#next-step.enabled:hover {
  background: #eac455 !important
}

.price {
  color: #5a5959 !important;
  font-family: FiraSans-Medium !important;
  font-size: 13.64px !important;
  padding: 9px 0 !important;
  font-weight: 400 !important;
  text-align: right !important
}

.hotel-heading {
  font-family: FiraSans-Medium !important;
  font-size: 16.16px !important;
  margin-bottom: 11px !important;
  color: #000 !important;
  font-weight: 400 !important;
  line-height: .25 !important
}

.hotel-desc {
  font-size: 12.13px !important;
  line-height: 13.28px !important;
  color: #5a5959 !important;
  font-family: FiraSans-Light !important;
  padding-top: 3px;
  margin-bottom: 9px !important;
  height: 55px;
  overflow: hidden
}

.hotel-listing-text {}

.hotel-thumb {
  width: 100%;
  height: 120px !important;
  object-fit: cover
}

.hotel-detalle {
  width: 100% !important;
  border-left: 1px solid #e6e6e6
}

.hr {
  width: 90% !important;
  margin-left: 4% !important;
  background: rgba(198, 198, 198, .32) !important
}

.bn-selct {
  background: #eac455 !important
}

.hotel-lis-li {
  border-left: 1px solid #e6e6e6
}

.hotel-list-box {
  border-right: 1px solid #e6e6e6 !important;
  width: 75% !important;
  border-bottom: 1px solid #e6e6e6 !important
}

.hotel-list-box2 {
  float: right;
  padding-top: 0 !important;
  border-right: 0 !important;
  width: 25% !important;
  border-bottom: 1px solid #e6e6e6 !important;
  display: inline;
  float: right;
  padding-top: 10px !important
}

div.all-wrap.fixed-width {}

.hotel-list-box>li .hotel-listing {
  padding: 20px 20px 25px !important
}

.hotel-listing {
  border-right: 1px solid #ebe8e8;
  padding: 0 15px 15px
}

.hotel-list {
  border-right: 1px solid #ebe8e8
}

.room-row-list {
  padding-top: 15px
}

.room-separate-list {
  padding-top: 15px;
  border-bottom: 1px solid #ebe8e8
}

.detail-head {
  font-size: 22.74px !important;
  font-family: FiraSans-Medium !important;
  padding-top: 2.35em !important;
  font-weight: 400 !important;
  text-transform: uppercase
}

.rate-types-list>li .rate-type.selected .price .rate-type-btn {
  font-family: FiraSans-Medium !important;
  font-size: 15.16px !important;
  font-weight: 400 !important;
  color: #000 !important;
  text-transform: uppercase !important;
  background: #eac455 !important;
  width: 100px !important;
  margin-top: 5px !important;
  border-radius: 1px !important
}

.hotel-thumb {
  margin-right: 15px !important;
  height: 152px
}

.txt {
  font-size: 14.94px !important;
  color: #5a5959 !important;
  font-family: FiraSans-Light !important;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis
}

.nest-half-right {
  background: #fafafa !important
}

.raname23,
.raname22 {
  color: #2f2f2f !important;
  font-size: 16.6px !important;
  font-family: FiraSans-SemiBold !important;
  font-weight: 400
}

.descrip-select {
  margin-top: 12px;
  margin-bottom: -5px
}

.rate-types-list {
  margin: 0 !important
}

.rate-type-btn {
  font-family: FiraSans-Medium !important;
  font-size: 16.6px !important;
  padding: 10px 13px !important
}

.rate-type-btn.bold {
  background: #eac455 !important
}

.rate-types-list .rate-type.selected .price .rate-type-btn {
  font-family: FiraSans-Medium !important;
  font-size: 10.95px !important;
  font-weight: 400 !important;
  color: #000 !important;
  text-transform: uppercase !important;
  background: #eac455 !important;
  width: 112px !important;
  margin-top: 5px !important
}

.padding-left {
  padding-left: 0
}

.rate {
  padding-bottom: 15px
}

.sta-div1 {
  padding-top: 15px;
  text-align: right;
  padding-bottom: 9px
}

b {
  font-size: 18px !important;
  font-family: FiraSans-Regular !important;
  color: #8d8c8c !important;
  font-weight: 400;
  margin: 12px !important
}

.strike {
  font-size: 19.92px !important;
  text-align: right !important;
  font-family: FiraSans-Regular !important;
  color: #d44747;
  margin-bottom: 2px !important;
  padding-bottom: 4px
}

.sta-div {
  text-align: right !important;
  margin-bottom: 2px !important;
  padding-bottom: 8px
}

.sta-div-preci {
  margin-bottom: 0 !important;
  margin-top: 3px;
  padding-bottom: 0
}

.rate-type.selected {
  background: #e2e0e0 !important;
  border: 0 solid #000 !important
}

.rate-type {
  padding: 0 !important
}

.hotel-details-box .stuff {
  border-right: 0 !important;
  border-bottom: 0 !important;
  padding: 30px !important
}

.hotel-details-box .stuff {
  border-left: 0 solid #e6e6e6 !important;
  padding: 30px;
  margin-bottom: 19px
}

.rate-types-list>li .rate-type {
  border: 1px solid #bab6b6 !important;
  width: 100%
}

.rate-types-list>li .rate-type.selected {
  margin: auto;
  border: 1px solid #e6e6e6 !important
}

.title-selec {
  font-size: 15.16px !important;
  font-family: FiraSans-Medium;
  color: #2f2f2f !important;
  margin-bottom: 12px
}

.promo-app {
  font-size: 14px !important;
  font-family: FiraSans-Medium !important;
  color: #2f2f2f !important;
  font-weight: 500 !important
}

.por-app {
  font-family: FiraSans-Regular !important;
  font-size: 13.28px !important;
  color: #5a5959 !important;
  font-weight: 400 !important
}

.por {
  font-family: FiraSans-Medium !important;
  font-size: 13.28px !important;
  color: #5a5959 !important;
  font-weight: 400 !important
}

.room-stay {
  font-family: FiraSans-Medium !important;
  font-size: 12.13px !important;
  color: #5a5959 !important;
  margin: 0 !important
}

.sav {
  font-size: 14.94px !important;
  font-family: FiraSans-Regular !important;
  color: #8d8c8c !important;
  font-weight: 400;
  margin: 0 !important
}

.valor {
  font-family: FiraSans-Regular !important;
  font-size: 19.92px !important;
  color: #5a5959 !important;
  font-weight: 400 !important;
  text-align: right !important;
  margin: 0 !important
}

.preci {
  font-family: FiraSans-Medium !important;
  font-size: 24.9px !important;
  color: #4dae56 !important;
  text-align: right !important;
  margin: 0 !important
}

.person {
  font-family: FiraSans-Regular !important;
  font-size: 14.94px !important;
  color: #4dae56 !important;
  text-align: right !important;
  font-weight: 400 !important;
  margin: 0 !important
}

.rr_A2Q23,
.rr_A2Q22,
.rl_A2Q23,
.rl_A2Q22,
.rr_A1K22,
.rl_A1K22 {
  font-family: FiraSans-Light !important;
  font-size: 13.82px !important;
  color: #5a5959 !important
}

.rl_A2Q23,
.rl_A2Q22,
.rl_A1K22 {
  font-family: FiraSans-Medium !important;
  font-size: 12.13px !important;
  color: #5a5959 !important
}

.static-airport {
  font-family: firasans-medium !important;
  font-size: 14px;
  float: left;
  border: 1px solid #2b2c2d !important;
  border-radius: 1px !important;
  background: #fff;
  color: #2f2f2f !important;
  margin-right: 11px;
  padding: 5px 6px 6px 0 !important
}

.static-airports {
  width: 78px !important;
  height: 27px
}

li {
  display: inline-block
}

.rooms-label {
  background: #2f2f2f;
  color: #fff;
  padding: 6px !important
}

.li {
  padding-left: 10px
}

.boton {
  padding-top: 15px;
  padding-bottom: 15px
}

.hotel-details-box .stuff .hotel-big-images {
  margin-bottom: 0 !important
}

.hotel-details-box .stuff .hotel-big-images .slides li img {
  height: 264px !important;
  max-width: 472px !important;
  object-fit: cover !important
}

.lis-sect {
  margin-bottom: 10px
}

.rate-type-name {
  padding: 5px 10px 5px 13px
}

.rate-type-name1 {
  padding: 0 13px 13px 0;
  padding-top: 15px
}

.roms-selec {
  padding-bottom: 4px
}

.rate-types-list>li .rate-type .price {
  display: block !important;
  padding-right: 15px !important
}

.rate-types-list>li .rate-type .rate-type-btn:hover {}

.boton-bars {
  padding: 7px
}

.boton-list {
  padding: 7px
}

.boton-div {
  text-align: right !important;
  background: #fff;
  padding-right: 15px
}

.select-bars {
  color: #2f2f2f !important
}

.select-list {
  color: #d5d5d5 !important
}

.select-list:hover {
  color: #2f2f2f !important
}

.prince2 {
  text-align: right;
  padding-right: 30px;
  padding-left: 0;
  padding-bottom: 3px
}

.pric {
  color: #5a5959 !important;
  font-family: FiraSans-Medium !important;
  font-size: 13.64px !important;
  font-weight: 400 !important;
  text-align: right !important;
  margin-bottom: 18px !important
}

.boton-div-inside {
  padding-top: 5px;
  padding-bottom: 2px
}

.hot-list {
  padding: 20px 20px 25px 73px !important
}

.price-b {
  font-size: 19.92px !important;
  font-family: FiraSans-Light !important;
  color: #5a5959 !important;
  font-weight: 400;
  margin: 0 !important;
  text-transform: lowercase
}

.price-c {
  font-size: 29.88px !important;
  font-family: FiraSans-Light !important;
  color: #5a5959 !important;
  font-weight: 700;
  margin: 0 !important
}

.hotel-prec {
  margin-top: 17px;
  border-right: 0 solid #ebe8e8
}

.border-bottom {
  margin: 10px
}

.margin-none {
  margin: 0
}

.detall-hotel {
  padding: 10px
}

.detall-hotel2 {
  padding: 0 0 10px
}

.detall-hotel3 {
  padding: 0 10px 0 0
}

.button-close {
  text-align: right;
  padding-top: 18px;
  padding-right: 60px;
  margin-bottom: 13px;
  color: #2f2f2f !important
}

.datell-head {
  font-size: 24.9px !important;
  font-family: FiraSans-Medium !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  color: #2f2f2f !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-top: 24px !important;
  padding-bottom: 24px
}

.hotel-detall-ma {
  padding: 0 15px;
  margin: 10px 0
}

.hotel-detalle {
  padding-left: 0 !important
}

.img {
  width: 100% !important;
  height: 192px !important;
  object-fit: cover
}

.color-fon {
  background: #fafafa
}

.close {
  color: #2f2f2f;
  font-size: 55px;
  padding-top: 8px
}

.close:hover {
  color: #d5d5d5
}

.prenc1 {
  margin-top: 20px
}

.prenc2 {
  margin-bottom: 10px !important
}

.row-pricip {
  background: #fafafa;
  margin: 0 30px 15px
}

.row-pricip.active {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000
}

.flecha {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000;
  position: absolute;
  top: -8px;
  left: 85px
}

.stuff {
  position: relative;
  width: 100%
}

.prenc3 {
  padding-top: 14px
}

.row-padding {
  /* padding-left: 0 */
}

.row-padding1 {
  padding-right: 10px;
  padding-left: 0
}

.row-padding2 {
  padding-left: 10px;
  padding-right: 0
}

.boton-max-pad {
  padding-top: 3px
}

.txt-rq {
  margin-top: -5px
}

.pak {
  padding-bottom: 10px
}

.firstroom {
  padding-bottom: 15px
}

@media(max-width:768px) {
  .price-c {
    font-size: 15.88px !important
  }

  .static-airport {
    margin-bottom: 2px
  }

  .padding-none-mobile {
    padding: 0
  }

  .border-Rb9b8b8 {
    border-right: 1px solid #b9b8b8
  }

  .hotel-heading {
    padding-top: 0;
    line-height: 15px !important
  }

  .hotel-listing {
    border-right: 0;
    /* padding-left: 0 */
  }

  .text-mobile-none {
    display: none
  }

  .prince2 {
    padding-right: 15px;
    padding: 0;
  }

  .pad-description-detail {
    padding-left: 15px;
    padding-right: 15px
  }

  .static-airport {
    width: auto;
    display: inline-block
  }

  .detall-hotel3 {
    padding: 0
  }

  .prenc1 {
    margin-top: 0
  }

  .prince2 a {
    display: inline-block;
    margin: 0;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 10.6px !important
  }

  .row-pricip {
    margin: 0 15px 15px
  }

  .hotel-thumb {
    height: 138px !important
  }

  .flecha {
    left: 30px
  }

  .hotel-detall-ma {
    padding: 0
  }

  .tablemob tr td {
    display: inline-block
  }
}