.boton .static-airport{
  margin-right: 0px !important;
}
.stuff{
  padding: 2rem 2rem;
}
.hotel-detall-ma{
  margin: 0 !important;
}
.datell-head{
  padding-bottom: 0 !important;
  padding: 0 !important;
}
.hotel-desc{
  height: auto !important;
}
.detall-hotel2{
  padding: 0 !important;
}
.secure-shopping-img{
  width: 70%;
}
.reserv-hotel-logo{
  width: 15%;
}
#rooms_form .hotel-thumb{
  width: 100%;
  min-height: 100%;
}
.price-mobile-view{
  display:none;
}
.prince2{
  padding: 0;
}
.select-room-btn2 select-room-btn rate-type-btn{
  border: none;
}
.border-right{
  border-right: 1px solid #ebe8e8;
}
.prince2 a {
  padding: 8px 16px !important;
  font-size: 14px !important;
  text-align: center !important;
  white-space: normal !important;
}
.select-room-btn2{
  margin-left: 0 !important;
}
.hotel-desc{
  font-size: 14px !important;
  line-height: initial !important;
}
.price-b{
  font-size: 20px !important;
  line-height: initial !important;
}
.price-c{
  font-size: 30px !important;
}
.sta-div1 button {
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
}
@media (min-width: 1200px){
  .raname{
    font-size: 16px !important;
  }
  .box-paragraph{
    font-size: 15px !important;
    line-height: initial !important;
    white-space: initial !important;
    height: auto !important;
  }
  .detailed-paragraph{
    font-size: 18px !important;
    line-height: initial !important;
    white-space: initial !important;
  }
  .datell-head{
    padding-bottom: 0 !important;
  }
  .hotel-detall-ma{
    display: flex;
    justify-content: space-between;
  }
  .sta-div1 button {
    border: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .boton li .static-airport{
    width: 100% !important;
  }
  .prince2 a{
    padding: 8px 16px;
  }
  .static-airport{
    width: 25% !important;
    margin-bottom: 2px;
  }
  .hotel-heading{
    font-size: 18px !important;
    margin-bottom: initial;
  }
}
@media (min-width: 992px){
  .slides img {
    width: 100%;
  }
} 
@media (max-width: 1200px) {
  .hotel-detall-ma{
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
  }
  .detall-hotel2{
    width: 100%;
  }
  .datell-head{
    padding-bottom: 0 !important;
    padding: 0 !important;
  }
  
  .static-airport{
    width: 50% !important;
    margin-bottom: 2px;
  }
  .boton li .static-airport{
    width: 100% !important;
  }
}
@media (max-width: 992px){
  .hotel-heading{
    line-height: 18px !important;
  }
  .info-withairport{
    min-width: 135px;
  }
  .info-withairport .static-airport{
    width: 100%;
  }
  .price-b{
    font-size: 20px !important;
    line-height: initial !important;
  }
  .price-c{
    font-size: 25px !important;
  }
  img {
    border: 0;
    max-width: 100%;
    width: 100%;
  }
  .price-desktop-view{
    width: 100%;
  }
  .hotel-heading{
    font-size: 18px !important;
    margin-bottom: 0.5rem !important;
  }
  .hotel-desc{
    font-size: 14px !important;
    height: initial;
  }
  .sta-div1 button {
    border: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .txt{
    white-space: initial !important;
    height: initial !important;
  }
  .border-Rb9b8b8{
    border:none !important;
  }
  .datell-head{
    padding-bottom: 0 !important;
  }
  .boton>li.with-airport{
    margin: 0 !important;
  }
  .info-withairport{
    min-width: 135px;
  }
  .info-withairport .static-airport{
    width: 100%;
  }
  .static-airport{
    width: 50% !important;
    margin-bottom: 2px;
  }
}
@media (max-width: 768px){
  .section-footer .footer-content{
    width: 50% !important;
  }
  .reserv-hotel-logo{
    width: 20%;
  }
  .secure-shopping-img{
    width: 60%;
  }
  .price-b{
    font-size: 16px !important;
  }
  .price-c{
    font-size: 18px !important;
  }
  #rooms_form .hotel-thumb{
    height: 138px !important;
  }
  img{
    width: 100%;
  }
  .static-airport{
    width: 80% !important;
  }
  header#header .header-image-box .logo{
    top: 16% !important; 
    /* right: 12% !important; */
    /* padding-left: 0 !important; */
  }
}
@media (max-width: 576px){ 
  header#header .header-image-box{
    background-size: 100% 100% !important;
  }
  .reserv-hotel-logo{
    width: 50% !important;
  }
  .secure-shopping-img{
    width: 100% !important;
  }
  
  .prince2 a{
    padding: 12px 24px !important;
    font-size: 14px !important;
  }
  .border-right{
    border-right: none !important;
  }
  .price-mobile-view .prince2{
    width: auto !important;
  }
  .prince2{
    width: 100% !important;
    margin-top: 1rem;
  }
  .prince2 .btn{
    width: 100% !important;
  }
  .static-airport{
    width: 100% !important;
  }
  img{
    width: 100%;
  }
  .sta-div1 button {
    border: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .txt{
    white-space: initial !important;
    height: initial !important;
  }
  .border-Rb9b8b8{
    border:none !important;
  }
  .datell-head{
    padding-bottom: 0 !important;
  }
  .boton>li.with-airport{
    margin: 0 !important;
  }
  .info-withairport{
    min-width: 135px;
  }
  .info-withairport .static-airport{
    width: 100%;
  }
  .price-b{
    font-size: 16px !important;
  }
  .price-c{
    font-size: 18px !important;
  }
  .hotel-heading{
    font-size: 18px !important;
    margin-bottom: 0.5rem !important;
  }
  .hotel-desc{
    font-size: 14px !important;
    height: initial;
  }
  .hotel-thumb{
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }
  .prince2 a{
    padding: 12px 24px !important;
    font-size: 14px !important;
  }
  .price-mobile-view{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  .prince2{
    text-align: left;
  }
  .price-desktop-view{
    display: none;
  }
}
@media (max-width: 380px){
  .stuff{
    padding: 1rem;
  }
  header#header .header-image-box .logo{
    top: 20% !important; 
    right: 10% !important;
    padding-left: 0 !important;
  }
}